name: Build Development

on:
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: temurin

      - name: Set Path
        run: |
          HYTALE_JAR="$HOME/.var/app/com.hypixel.HytaleLauncher/data/Hytale/install/dev/package/game/latest/Server/HytaleServer.jar"
          echo "HYTALE_JAR=$HYTALE_JAR" >> $GITHUB_ENV

      - name: Download Server
        run: |
          mkdir -p "$(dirname "$HYTALE_JAR")"
          wget -O "$HYTALE_JAR" ${{ secrets.HYTALE }}

      - name: Build
        run: ./gradlew build

      - name: Extract repository name
        run: echo "NAME=$(basename ${{ github.repository }})" >> $GITHUB_ENV

      - name: Upload Build
        uses: marvinpinto/action-automatic-releases@master
        with:
          title: "${{ env.NAME }}"
          automatic_release_tag: "latest"
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: "build/libs/*.jar"
          prerelease: false